# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/

# Dados
previsao-climatica-de-precipitacao-sobre-a-america-do-sul.zip
data/raw/*
data/archive/*
data/interim/*
data/processed/*
submissions/*.csv

# Modelos
*.pkl
*.joblib

# Arquivos temporários
*.tmp
*.log

# Sistema
.DS_Store
Thumbs.db
